<app-nav></app-nav>
<app-footer></app-footer>



<div class="contenedor">
  <div class="contenedor2">

    <div class="elemento2">
      <div class="titulos">
        <h2>Proveedores</h2>
      </div>

      <div class="buscar">
        <input type="search" class="bt-buscar">
        <input type="submit" value="Buscar" class="bt-buscar"
          style="background-color: blue; color: rgb(255, 255, 255); margin-left: 5px; border-radius: 5px;"><br><br>
      </div>

      <div class="contenedor_tabla">
        <table class="table table-striped tabla1">
          <thead>
            <tr>
              <th scope="col">Ruc</th>
              <th scope="col">Nombre</th>
              <th scope="col">Celular</th>
              <th scope="col">Dirección</th>
              <th scope="col">País</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Especialización</th>
              <th scope="col">Check</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">001</th>
              <td>Bayern</td>
              <td>098765354</td>
              <td>Carcelén</td>
              <td>Ecuador</td>
              <td>Quito</td>
              <td>Salud</td>
            </tr>
            <tr>
              <th scope="row">001</th>
              <td>Bayern</td>
              <td>098765354</td>
              <td>Carcelén</td>
              <td>Ecuador</td>
              <td>Quito</td>
              <td>Salud</td>
            </tr>
            <tr>
              <th scope="row">001</th>
              <td>Bayern</td>
              <td>098765354</td>
              <td>Carcelén</td>
              <td>Ecuador</td>
              <td>Quito</td>
              <td>Salud</td>
            </tr>
            <tr>
              <th scope="row">001</th>
              <td>Bayern</td>
              <td>098765354</td>
              <td>Carcelén</td>
              <td>Ecuador</td>
              <td>Quito</td>
              <td>Salud</td>
            </tr>
            <tr>
              <th scope="row">001</th>
              <td>Bayern</td>
              <td>098765354</td>
              <td>Carcelén</td>
              <td>Ecuador</td>
              <td>Quito</td>
              <td>Salud</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>