<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img src="#" alt="" class="logo">
    </a>
    <ul>
        <li><a routerLink="/categoria" class="active">Inicio</a></li>
        <li><a routerLink="/registro-p">Login</a></li>
        <li><a routerLink="/proveedores">Registrarse</a></li>
        <li><a routerLink="/proveedores">Factura</a></li>
        <li><a href="#" class="noactive">Cerrar sesion</a></li>
    </ul>
</nav>