<app-nav></app-nav>
<app-footer></app-footer>


<div class="contenedor">
    <div class="contenedor2">
      <div class="elemento1">
        <div class="titulos">
          <h2>Registro de Proveedores</h2>
        </div><br>
        <form action="" class="formulario">
          <input type="number" class="input" placeholder="Ruc"><br><br>
          <input type="text" class="input" placeholder="Nombre"><br><br>
          <input type="number" class="input" placeholder="Celular"><br><br>
          <input type="text" class="input" placeholder="Dirección"><br><br>
          <input type="text" class="input" placeholder="País "><br><br>
          <input type="text" class="input" placeholder="Ciudad"><br><br>
          <input type="submit" id="boton" value="guardar" class="boton">
        </form>
      </div>
    </div>
</div>


