<app-ventas>
<div class="contenedor">
    <!--<nav> 
    </nav>--> 
    <main>
       <div class="registro"> 
            <h3>Cliente</h3>
            <div class="form">
                <div class="form-R">
                </div>
                <div class="form-R">
                    <input type="text" id="" class="" onkeypress="return event.charCode>=48 && event.charCode<=57" placeholder="Buscar clientes" (keyup)="clienteBuscador($event)" >
                    <div class="buscarCliente">
                        <div *ngIf="valor">
                            <div *ngIf="client.message else hola">
                                <div>cliente no encontrado</div>
                            </div>  
                            <ng-template #hola>
                                <div *ngFor="let a of client">
                                    <li class="selector" value="{{a.cedula_client}}" (click)="buscarCliente($event)">{{a.cedula_cliente}} {{a.nombres}}</li>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="botones">
                    <button type="submit" class="registro-boton boton">BUSCAR</button>
                    <button type="submit" class="registro-boton1 boton1">SIGUIENTE</button>
                    <button type="submit" class="registro-boton2 boton2">CANCELAR</button>
                </div>
            </div>
       </div> 
    </main>
    <!--<footer></footer>-->
</div>
</app-ventas>






