<div class="container">
    <!--<img src="./../../assets/img/img.jpeg" class="img-fluid" style="position: absolute; left: 0; top: 0; z-index: -100; opacity: 0.75;" width="1365px" height="655px" >-->
    <section class="caja">
        <h1>{{logo}}</h1>
        <label for="cedula" class="cedu">Cedula:</label><input class="cedula" type="text" name="cedula" placeholder="cedula">
        <label for="nombre" class="nom">Nombres:</label><input class="nombres" type="text" name="nombres" placeholder="Nombres">
        <label for="buscar" class="bus">Buscar:</label><input type="text" class="buscar"><input class="boton" type="submit" value="Buscar">
        <table class="tabla">
            <thead class="tcabeza">
                <tr>
                    <th class="indicacion">Producto</th>
                    <th class="indicacion">Cantidad</th>
                    <th class="indicacion">Unidad</th>
                    <th class="sobrante"></th>
                    <th class="indicacion">Valor</th>
                </tr>
            </thead>
            <tbody class="tcuerpo">   
                <tr>
                    <td>Aspirina</td>
                    <td>2</td>
                    <td>1</td>
                    <td colspan="2">&nbsp;12</td>
                </tr>
                <tr>
                    <td colspan="4" class="sobrante">Iva</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td colspan="4" class="sobrante">Total</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>

        <input class="botton" type="submit" value="Comprar">
        <input class="botton" type="submit" value="Cancelar">
    </section>
    <br>
</div> 

