<div class="contenedor">
    <!--<nav class="nav">

    </nav>-->
    <main class="main">

        <div class="ventas">
            <h3>Ventas</h3>
        </div>
        <div class="datos">
            <input type="text" class="cedula" placeholder="Cedula">
            <input type="text" class="cliente" placeholder="Cliente">
        </div>
        <div class="buscar">
            <input type="text" placeholder="Buscar producto" (keyup)="busqueda($event)" >
            <div class="buscadorProduct" >
                <div *ngIf="serch">
                    <div *ngIf="!productos.message else mas">
                        <div *ngFor="let a of productos">
                            <div *ngIf="a.nombre_p">
                             <div>{{a.nombre_p}} {{a.stock}}</div>     
                            </div>                    
                        </div>
                    </div>
                    <ng-template #mas>
                        
                        <div>no encontrado</div>   
                    </ng-template>
                        
                </div>
                    

                    

                
            </div>
        </div>
        <div class="table">
            <table class="tabla">
                <thead class="cabecera">
                    <tr>
                        <th>Cedula</th>
                        <th>Cantidad</th>
                        <th>Productos</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody class="cuerpo">
                    <tr>
                        <td>Codigo</td>
                        <td class="centrar"><input type="number" class="cantidad"></td>
                        <td>Pastillas Chitolinas</td>
                        <td>$12.00</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="parte2">
            <table class="table1">
                <thead class="thead1">
                    <tr>
                    <tr>
                        <th>Total</th>
                        <td class="tota">100</td>
                    </tr>

                </thead>
                <tbody class="tbody1">

                    <th>Forma de pago:</th>
                    <th> <select name="pago" id="" class="pago">
                            <option value="efectivo">Efectivo</option>
                            <option value="tarjeta">Tarjeta</option>
                        </select>
                    </th>
                </tbody>
            </table>

        </div>
        <div class="compra">
            <input type="submit" value="Comprar" class="comprar">
            <input type="submit" value="Cancelar" class="cancelar">
        </div>

    </main>
    <!--<footer class="footer">
    </footer>-->
</div>
