<body>
    <div class="contenedor">

        <main class="main">
            <h2>Farmacia Yavirac</h2>
            <hr>
            <div class="informacion">
                <h3>Cliente:
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input>
                </h3>
                <h3>Fecha de emision:&nbsp;<input></h3>
                <h3>Direccion:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input>
                </h3>
                <h3>Nro° Factura:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input></h3>
            </div>
            <div class="cuerpo">

                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td>1</td>
                            <td>pastillas</td>
                            <td>5</td>
                            <td>2</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="parte2">
                <table class="table1">
                    <thead class="thead1">
                        <tr>
                            <th>Forma de pago:</th>
                            <th> <select name="pago" id="" class="pago">
                                    <option value="efectivo">Efectivo</option>
                                    <option value="tarjeta">Tarjeta</option>
                                </select> </th>
                        </tr>
                    </thead>
                    <tbody class="tbody1">
                        <tr>
                            <th>Total</th>
                            <td>100</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <hr class="hr1">
            <p>Cancelado</p>
        </main>

    </div>
</body>