<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Sobre nosotros</h3>
                <p>Nuestra farmacia se encuentra en el centro de Quito, tenemos los mejores productos
                   para el cuidado de tu salud.</p>       
            </div>
            <div class="col-md-4">
                <h3>Contactanos</h3>
                <ul>
                    <li>Telefono: 098-454-435</li>
                    <li>Email: yavirac@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Siganos</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-telegram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr width="100%">
    <p class="politica">© Todos los derechos reservados 2023</p>
</footer>
