*{
    box-sizing: border-box;
}
.container{
    width: 500px;
    max-width: 700px;
    height: 500px;
    background: rgb(161, 152, 152);
    position: absolute;
    top: 10%;
    left: 30%;
    margin-bottom: 20px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}
.tabla{
    width: 98%;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin: 5px;
    background: rgba(255, 255, 255, 0.986);
}
.head{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.pago{
    width: 35%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 10px;
}
