<app-nav></app-nav>
<div class="container">
    <h1>{{factura}}</h1>
    <div class="nombre">
        <th><h4>{{nombre}}&nbsp;</h4></th><th>Leonardo Gustavo</th>
    </div>
        <table class="tabla">
            <thead class="head">
                <tr>
                    <th>FACTURA</th>
                    <th>FECHA</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody class="body">
                <tr>
                    <td>sadsad</td>
                    <td>asdass</td>
                    <td>asdasd</td>
                </tr>
                  <tr>
                    <td>sadsad</td>
                    <td>asdass</td>
                    <td>asdasd</td>
                </tr>
                <tr>
                    <th colspan="2">Subtotal</th>
                    <td>12</td>
                </tr>
                <tr>
                    <th colspan="2">Total</th>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
        <div class="pago">
            <th><h4>{{pago}}&nbsp;</h4></th><th>Efectivo</th>
        </div>
    </div>
    
