*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: blue;
    height: 13vh;
    width: 100%;
    padding: 20px 50px;
}
.logo{
    height: 40px;
    width: 100px;
}
.usuario{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}
.checkbtn{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.checkbtn:active .cerrar{
    font-size: 10px;
}
.cerrar{
    font-size: 0;
}
@media (max-width: 950px){
    .logo{
        padding-left: 20px;
    }
}
@media (max-width: 858px){
    .usuario{
        font-size: 10px;
        position: fixed;
        width: 100px;
        height: 100vh;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
}

