<div class="container">
    <nav>
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-user-ninja"></i>
            <h3 class="cerrar">Cerrar sesión</h3>
        </label>
        <a href="#">
            <img src="./../../assets/img/Yavirac.png" alt="logo" class="logo">
        </a>
        <h3 class="usuario">Leonardo Bocon</h3>
    </nav>
    <h1>dsfasdf</h1>
    <h1>adsfasdf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>
    <h1>sfdsf</h1>

</div>


