<div class="contenedor">
    <nav>
        
    </nav>
    <main>
       <div class="registro">
            <h3>REGISTRO</h3>
            <form action="" method="post">
                <div class="form-R">

                </div>
                <div class="form-R">
                    <input type="text" id="" class="">
                    <label class="label" for="">NOMBRES</label>
                </div>
                <div class="form-R">
                    <input type="text" id="" class="">
                    <label class="label" for="">APELLIDOS</label>
                </div>
                <div class="form-R">
                    <input type="text" id="" class="">
                    <label class="label" for="">DIRECCION</label>
                </div>
                <div class="form-R">
                    <input type="text" id="" class="">
                    <label class="label" for="">CORREO ELECTRONICO</label>
                </div>
                <div class="form-R">
                    <input type="text" id="" class="">
                    <label class="label" for="">TELF</label>
                </div>
                <div class="botones">
                    <a href=""><button class="atras-boton boton">ATRAS</button></a>
                    <button type="submit" class="registro-boton boton">REGISTRAR</button>
                    
                </div>
            </form>
       </div>
       
    </main>
    <footer></footer>
</div>
